
.container{
    display: flex;
}

.nav-box{
    width: 180px;
    background-color: #293038;
    display: flex;
    color: #fff;
    flex-flow:column;
}

.nav-header{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #38424E;
    font-size: 16px;
    letter-spacing: 3px;
    padding-left: 3px;
}
.nav-list{
    flex: 1;
    overflow: auto;
}
.nav-list > li{
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
    cursor: pointer;
}
.nav-list > li:hover{
    background-color: #8d9296;
}
.nav-list > li.active{
    background-color: #257cc1;
}


.panel-view{
    flex:1;
}