.info-container{
    display: flex;
}
.imgbox{
    width: 150px;
    height: 200px;
}

.info-container small{
    font-weight: normal;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: text-bottom;
}

.info-box{
    padding: 0 20px;
    flex-grow:1;
}

.type-box{
    display: flex;
    margin: 10px 0;
}

.type-item{
    border:1px solid #a6b1cc;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
    border-radius: 10px;
    color: #a6b1cc;
    margin-right: 10px;
}

.btn-box{
    display: flex;
    justify-content: space-between;
}
.info-state{
    line-height: 20px;
    margin: 10px 0;
}


.n-nav-list{
    display: flex;
    height: 40px;
    line-height: 40px;
    padding-bottom: 1px;
    border-bottom: 1px solid #ccc;
}

.n-nav-list > li{
    padding: 0 20px;
    height: 100%;
    border-bottom: 2px solid transparent;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #999;
}
.n-nav-list > li:hover{
    color: #666;
}
.n-nav-list > li.active{
    border-bottom-color:#ef5b6f;
    color: #ef5b6f;
}


.novel-intro-panel{
    line-height: 30px;
    white-space: normal;
    font-size: 16px;
}

.chapter-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chapter-list > li{
    line-height: 40px;
    height: 40px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hand-text{
    cursor:pointer;
}
.hand-text:hover{
    text-decoration: underline;
}