

.content{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.info{
    width: 150px;
    text-align: center;
    padding-top: 60px;
}
.score-text{
    line-height: 40px;
}
.box{
    background-color: #bbada0;
    border-radius: 10px;
    padding: 5px;
}

.line{
    display: flex;
}
.point{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    background-color:#ccc0b7;
    font-size: 16px;
}

.point-2{
    background-color: #eee4da;
}
.point-4{
    background-color: #edd0c8;
}

.point-8{
    background-color: #f2b179;
    color: #fff;
}
.point-32{
    color: #fff;
    background-color: #f67e5f;
}