

.content-text{
    padding: 20px;
}
.content-text p{
    white-space: normal;
    font-size: 18px;
    line-height: 34px;
    margin: 0 0 20px 0;
    text-indent:40px;
}


.btn-box{
    display: flex;
    justify-content:space-between;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.c-btn{
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.c-btn:hover{
    background-color:#e2d3ca;
}