/*颜色区域*/
.container {
  overflow: auto;
}
.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a303c url('../img/logo.png') 20px center no-repeat;
}
.footer-box {
  height: 50px;
  text-align: center;
  padding: 20px;
  background-color: #2a303c;
  color: #fff;
}
.paging-box {
  padding-top: 20px;
  padding-bottom: 20px;
}
img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
a {
  color: inherit;
}
.center-area {
  width: 1000px;
}
.b-btn {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #00a4ff;
  color: #fff;
}
.b-btn:hover {
  background-color: #199de6;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
.flex-box {
  display: flex;
}
.cur-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.bold {
  font-weight: bold;
}
.overflow-hide {
  overflow: hidden;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.border-box {
  box-sizing: border-box;
}
.border {
  border: 1px solid #ccc;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
.mglr10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mgtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mgb20 {
  margin-bottom: 20px;
}
.mgt20 {
  margin-top: 20px;
}
.mglr20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mgl20 {
  margin-left: 20px;
}
.pdlr10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pdb20 {
  padding-bottom: 20px;
}
.pdlr20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pdtb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pd20 {
  padding: 20px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font20 {
  font-size: 20px;
}
.fit-height {
  height: 100%;
  box-sizing: border-box;
}
.fit-width {
  width: 100%;
  box-sizing: border-box;
}
.fit {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.lt0 {
  left: 0;
  top: 0;
}
.border-top {
  border-top: 1px solid #ccc;
}
.comment-box .reply-box {
  margin-top: 10px;
}
.comment-box .input-box {
  min-height: 20px;
  line-height: 20px;
  padding: 10px;
  border: 1px solid #ebebeb;
  background-color: #f6f6f6;
  outline: none;
}
.comment-box .input-box:focus {
  background-color: #fff;
  border-color: #8590a6;
}
.comment-box .reply-btn-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
.comment-box .reply-btn-box .text-btn {
  font-size: 14px;
  color: #8590a6;
}
.comment-box .reply-btn {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  background-color: #00a4ff;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 8px;
}
.comment-box .reply-btn:hover {
  background-color: #0077e6;
}
.comment-list {
  font-size: 14px;
}
.comment-list > li {
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ccc;
}
.comment-list .head {
  display: flex;
  align-items: center;
}
.comment-list .img-box > img {
  width: 40px;
  height: 40px;
}
.comment-list .username {
  flex: 1;
  margin: 0 5px;
}
.comment-list .content {
  line-height: 24px;
  margin: 10px 0;
  white-space: normal;
}
.comment-list .reply-text {
  margin: 0 10px;
}
.comment-list .actions {
  height: 30px;
  line-height: 30px;
}
