<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gbk">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>首页</title>
    <link href="font/iconfont.css" rel="stylesheet">
    <link href="../../../../../util/css/common.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="js/echarts.min.js" charset="utf-8"></script>
    <script src="../../../../../util/plugins/easyui/jquery.min.js"></script>
    <script src="../../../../../util/js/util.js" charset="UTF-8"></script>
    <script src="js/index.js"></script>
</head>
<body>
<div class="container" id="container">
    <div class="container-bg">
        <img src="img/bg.jpg" id="bgImg">
    </div>
    <div class="content" id="content">
        <div class="expand-btn iconfont icon-xiashuangjiantou hide" title="展开导航栏" id="expandBtn"></div>
        <div class="left inline fit-height">
            <div class="area-box area-box1 area-box-margin">
                <div class="area-header">车辆预警</div>
                <div class="area-content area-header-content fit">
                    <ul class="area-ul num-red-box">
                        <li>
                            <div class="img-box inline-m">
                                <img src="img/tpc.png">
                            </div>
                            <div class="text-box inline-m">
                                <div class="item-title">套牌车数量</div>
                                <div class="item-num update-num" field="TP_COUNT"></div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box inline-m">
                                <img src="img/jpc.png">
                            </div>
                            <div class="text-box inline-m">
                                <div class="item-title">假牌车数量</div>
                                <div class="item-num update-num" field="PlatenoCount04"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="area-bg"></div>
                <div class="border-point pos-lt"></div>
                <div class="border-point pos-lb"></div>
                <div class="border-point pos-rt"></div>
                <div class="border-point pos-rb"></div>
            </div>
            <div class="left-fit fit">
                <div class="area-box area-box2 fit">
                    <div class="area-header" id="kkzyHeader" style="cursor:pointer">卡口资源</div>
                    <div class="area-content area-header-content fit">
                        <ul class="area-ul area-ul-noimg">
                            <li>
                                <div class="item-title inline-m">卡口接入量</div>
                                <div class="item-num inline update-num" field="VI_COUNT"></div>
                            </li>
                            <li>
                                <div class="item-title inline-m">当日过车量</div>
                                <div class="item-num inline update-num" field="VM_COUNT"></div>
                            </li>
                            <li>
                                <div class="item-title inline-m">当日出行车辆</div>
                                <div class="item-num inline update-num" field="PlatenoCount"></div>
                            </li>
                            <li>
                                <div class="item-title inline-m">本地车数量</div>
                                <div class="item-num inline update-num" field="PlatenoCount01"></div>
                            </li>
                            <li>
                                <div class="item-title inline-m">外地车数量</div>
                                <div class="item-num inline update-num" id="wdcNum" field="PlatenoCount02"></div>
                                <div class="item-hover-box">
                                    <div class="tooltip-bg fit"></div>
                                    <div id="wdcHover"></div>
                                </div>
                            </li>
                            <li>
                                <div class="item-title inline-m">绕城内车数量</div>
                                <div class="item-num inline update-num" field="PlatenoCount05"></div>
                                <div></div>
                            </li>
                        </ul>
                    </div>
                    <div class="area-bg"></div>
                    <div class="border-point pos-lt"></div>
                    <div class="border-point pos-lb"></div>
                    <div class="border-point pos-rt"></div>
                    <div class="border-point pos-rb"></div>
                </div>
            </div>
        </div>
        <div class="center inline fit">
            <div class="home-header">（当前区域：<span id="area">成都市</span>）</div>
            <div class="center-fit fit">
                <div class="fit area-box">
                    <div class="map-box fit" id="mapBox">

                    </div>
                    <div class="area-bg"></div>
                    <div class="border-point-map pos-lt">
                        <div class="border-column"></div>
                        <div class="border-row"></div>
                    </div>
                    <div class="border-point-map pos-rt">
                        <div class="border-row"></div>
                        <div class="border-column"></div>
                    </div>
                    <div class="border-point-map pos-lb">
                        <div class="border-column"></div>
                        <div class="border-row"></div>
                    </div>
                    <div class="border-point-map pos-rb">
                        <div class="border-row"></div>
                        <div class="border-column"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right inline fit-height">
            <div class="area-box area-box3 area-box-margin">
                <div class="area-content fit num-red-box">
                    <i class="arect"></i>
                    <span class="area-title">人像比对告警次数</span>
                    <span class="item-num inline update-num" field="rxbd" maxLength="4"></span>
                </div>
                <div class="area-bg"></div>
                <div class="border-point pos-lt"></div>
                <div class="border-point pos-lb"></div>
                <div class="border-point pos-rt"></div>
                <div class="border-point pos-rb"></div>
            </div>
            <div class="area-box area-box4 area-box-margin">
                <div class="area-header">人像卡口资源</div>
                <div class="area-content area-header-content fit">
                    <ul class="area-ul area-ul-noimg area-ul-4">
                        <li>
                            <div class="item-title inline-m">人像卡口接入量</div>
                            <div class="item-num inline update-num" field="rxkkjrl"></div>
                        </li>
                        <li>
                            <div class="item-title inline-m">人脸采集量</div>
                            <div class="item-num inline update-num" field="rlckl"></div>
                        </li>
                    </ul>
                </div>
                <div class="area-bg"></div>
                <div class="border-point pos-lt"></div>
                <div class="border-point pos-lb"></div>
                <div class="border-point pos-rt"></div>
                <div class="border-point pos-rb"></div>
            </div>
            <div class="right-fit fit">
                <div class="area-box area-box5 fit">
                    <div class="area-header">视频资源</div>
                    <div class="area-content area-header-content fit">
                        <div class="sp-count-box">
                            <div class="item-title">视频资源总数（个）</div>
                            <div class="sp-num-box update-num" type="bg" field="TOTALCOUNT"></div>
                        </div>
                        <ul class="area-ul area-ul-5">
                            <li>
                                <div class="img-box inline-m">
                                    <img src="img/twsp.png">
                                </div>
                                <div class="text-box inline-m">
                                    <div class="item-title">天网视频</div>
                                    <div class="item-num update-num" field="TWCOUNT" noUnit="1"></div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box inline-m">
                                    <img src="img/xlsp.png">
                                </div>
                                <div class="text-box inline-m">
                                    <div class="item-title">雪亮视频</div>
                                    <div class="item-num update-num" field="WHITECOUNT" noUnit="1"></div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box inline-m">
                                    <img src="img/dtsp.png">
                                </div>
                                <div class="text-box inline-m">
                                    <div class="item-title">地铁视频</div>
                                    <div class="item-num update-num" field="SUBWAYCOUNT" noUnit="1"></div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box inline-m">
                                    <img src="img/shsp.png">
                                </div>
                                <div class="text-box inline-m">
                                    <div class="item-title">社会视频</div>
                                    <div class="item-num update-num" field="SOCIETYCOUNT" noUnit="1"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="area-bg"></div>
                    <div class="border-point pos-lt"></div>
                    <div class="border-point pos-lb"></div>
                    <div class="border-point pos-rt"></div>
                    <div class="border-point pos-rb"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p><span class="copyright"></span><span class="company"></span></p>
    </div>
</div>
</body>
</html>